<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>500 Internal Server Error</title>
	</head>
	<body>
		<code><span style="display:block;line-height:8px; font-size: 8px; font-weight:bold;white-space:pre;font-family: monospace;color: black; background: white;">                                                                                                                                                               
		                                                                                                                                                               
		                                                                                                                                                               
		                                  %%(             (%%%%%%#                                                                                                     
		                                 %%%%%       %%%%        ,%                                                                                                    
		                                  %%%%*%%%%               %%                                                                                                   
		                                 ,%%%#                     %(                                                                                                  
		                           .%%%#                   /   %%%  %                                                                                                  
		                      (%%%*                   %%%% %%# %%*  *%                                                                                                 
		                  %%#                  #%%  #%%* %% (%%%%    %%                                                                                                
		                 %%                  %%%%(%%.%% .%%   %%%     %                      .,,,,,,,,,,,,*.                                                           
		                 %*           #%%%%% %%% #%% %%%%%    /%%     .%               ,,,,......,,,,,,,,......,,,                                                     
		                  %     %%%%%,%%# %%#/%%%%%  #%/%%%/   %%      %%          ,,,...,,,,,,,.       .,,,,,,,,...,,                                                 
		                  #%   *%% %%%%%/  %% %%%%%*  %%               %#       ,,..,,,,                         .,,,..,,                                              
		                   %#   %%*   %%%  %% %%.  (,                (%/      ,,.,,,                                 .,,,.,,                                           
		                    %     %%%%/%%%%%*                  ,%%%#       .,.,,,                                       .,,..,                                         
		                    ,%  %%%%%%                    #%%%,           ,.,,,                                           ,,,.,,                                       
		                     %%                     /%%%/               ,,,,,,                                              ,,,.,                                      
		                      %                %%%%%%%%%               ,,,,,,                                                ,,,,,                                     
		                       %         #%%%.     .%%%%*             ,,,,,,.        %/                           .%/        ,,,,,.,                                   
		                        %%%#%%%(            %%%%%            ,,,,,,,.     .,                                  %     .,,,,,,,,                                  
		                                             %%%%%          ,,,,,,,......   ../////*                  /////*.  % .....,,,,,,,                                  
		                                              %%%%/        ,,,,,,,......./...////////................////////...........,,,,,,                                 
		                                              (%%%%        ,,,,,,,..........(((((((((...............(((((((((...........,,,,,,.                                
		                                               %%%%%      .,,,,,,...........(((((((((...............(((((((((............,,,,,,                                
		                                                %%%%%     ,,,,,,,........... ########............... ########............,,,,,,                                
		                                                .%%*,.....,,,,,,,............ *%%## ................. *#%%% .............,,,,,,,,....,                         
		                                               .,,          ,.,,................ ....................... ................,,,,           ,,                     
		                                              ,.              .,.........................................................,,               ,,                   
		                                             ,,                ,,,......................................................,,.               .,,                  
		                                            ,,..................,,.....................................................,,,.................,,.                 
		                                            ,,..................,,.....................................................,,...................,,                 
		                                            ,,..................,,.....................................................,,...................,,                 
		                                            ,,..................,,,.................,%%%%%%%%%%%%%%%#.................,,,,.................,,                  
		                                             ,,................,,,,,............,%%%%*    ......    %%%%%.............,,,,,...............,,,                  
		                                              ,,,............,,,,,,,,.........%%%  .................... .%%%........,,,,,,,,,...........,,,                    
		                                                .,,,,....,,,,, ,,,,,,,,....*%% ........................... (%%.....,,,,,,,. ,,,,,..,,,,,,                      
		                                                      ..        ,,,,,,,,,.%% ................................ %(.,,,,,,,,        ...                           
		                                                                  ,,,,,,,  .................................... .,,,,,,,                                       
		                                                                    ,,,,,,,,,,..............................,,,,,,,,,,                                         
		                                                                      ,,,,,,,,,,,........................,,,,,,,,,,,                                           
		                                                                        ,,,,,,,,,,,,,,.............,,,,,,,,,,,,,,                                              
		                                                                           ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,                                                 
		                                                                               ,,,,,,,,,,,,,,,,,,,,,,,,,,,                                                     
		                                                                               .,,,,,,,,,,,,,,,,,,,,,,,,,,,.                                                   
		                                                                         .........................................                                             
		                                                                                                                                                               
		                                                                                                                                            
		</span></code>
		<h2>Error: Terdapat masalah pada server</h2>
	</body>
</html>