<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Lihat Semua Jabatan</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<br>
		<div class="container">
		
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<h2>Cari Pegawai</h2>
					</div>
					<div class="card-body">
					
						<form th:action="@{/pegawai/cari}" th:object="${pegawai}" method="GET">
							<table class="table">
								<tr>
									<td><p>Provinsi</p><td>
									<td>
										<select  class="form-control" name="idProvinsi" id="provinsi">
									    	<option disabled="disabled" selected="selected">Pilih Provinsi</option>
											<option th:each="provinsi : ${semuaProvinsi}"
													th:value="${provinsi.id}"
													th:text="${provinsi.nama}" ></option>
									    </select>
									</td>
								</tr>
								<tr>
									<td><p>Nama Instansi</p><td>
									<td>
										<select class="form-control" name="idInstansi" id="instansi">
					                    	<option disabled="disabled" selected="selected" value="" >Pilih Instansi</option>
					                    	<option th:each="instansi : ${semuaInstansi}"
					                    			th:value="${instansi.id}"
					                    			th:text="${instansi.nama}" >
					                    	</option>
					                	</select>
									</td>
								</tr>
								
								<tr>
									<td><p>Jabatan</p><td>
									<td>
		                                <select  class="form-control" name="idJabatan" id="jabatan">
		                                    <option disabled="disabled" selected="selected" >Pilih Jabatan
		                                    </option>
		                                    <option th:each="jabatan : ${semuaJabatan}"
		                                            th:value="${jabatan.getId()}"
		                                            th:text="${jabatan.getNama()}" >
		                                    </option>
		                                </select>
		                        	</td>
								</tr>
								
								<tr>
									<td><button type="submit" class="btn btn-primary">Cari</button></td>
								</tr>
							</table>
						</form>
					</div>
				</div>
			</div>
			<br>
			<div class="d-flex justify-content-center" id="judul">
				
				<!-- apabila ada provinsi -->
				<span th:if="${provinsi} != null">
					<!-- apabila ada provinsi dan instansi -->
					<span th:if="${instansi} != null">
						<!-- apabila ada provinsi, instansi, dan jabatan -->
						<span th:if="${jabatan} != null">
							<p th:text="'Daftar Seluruh Pegawai yang Bekerja di Provinsi ' + ${provinsi.nama} + ' dengan Instansi ' + ${instansi.nama} + ' dan Jabatan ' + ${jabatan.nama}"></p>
						</span>
						<!-- apabila ada provinsi, instansi dan tidak ada jabatan -->
						<span th:unless="${jabatan} != null">
							<p th:text="'Daftar Seluruh Pegawai yang Bekerja di Provinsi ' + ${provinsi.nama} + ' dengan Instansi ' + ${instansi.nama}"></p>
						</span>
					</span>
					
					<!-- apabila ada provinsi dan tidak ada instansi -->
					<span th:unless="${instansi} != null">
						<!-- apabila ada provinsi dan jabatan tapi tidak ada instansi -->
						<span th:if="${jabatan} != null">
							<p th:text="'Daftar Seluruh Pegawai yang Bekerja di Provinsi ' + ${provinsi.nama} + ' dengan Jabatan ' + ${jabatan.nama}"></p>
						</span>
						<!-- apabila ada provinsi tapi tidak ada intansi dan jabatan -->
						<span th:unless="${jabatan} != null">
							<p th:text="'Daftar Seluruh Pegawai yang Bekerja di Provinsi ' + ${provinsi.nama}"></p>
						</span>
					</span>				
				</span>
				<!-- apabila tidak ada provinsi -->
				<span th:unless="${provinsi} != null">
					<!-- apabila ada instansi -->
					<span th:if="${instansi} != null">
						<!-- apabila hanya ada instansi dan jabatan -->
						<span th:if="${jabatan} != null">
							<p th:text="'Daftar Seluruh Pegawai yang Bekerja dengan Instansi ' + ${instansi.nama} + ' dan Jabatan ' + ${jabatan.nama}"></p>
						</span>
						<!-- apabila hanya ada instansi -->
						<span th:unless="${jabatan} != null">
							<p th:text="'Daftar Seluruh Pegawai yang Bekerja dengan Instansi ' + ${instansi.nama}"></p>
						</span>
					</span>
					<!-- apabila tidak ada instansi -->
					<span th:unless="${instansi} != null">
						<!-- apabila hanya jabatan -->
						<span th:if="${jabatan} != null">
							<p th:text="'Daftar Seluruh Pegawai yang Bekerja dengan Jabatan ' + ${jabatan.nama}"></p>
						</span>
						<!-- apabila tidak ada semua -->
						<span th:unless="${jabatan} != null">
							<p th:text="'Daftar Seluruh Pegawai'"></p>
						</span>
					</span>		
				</span>
			</div>
			
			<br>
			<table id="example" class="table table-striped table-bordered" style="width:100%">
				<thead>
				    <tr>
				    	<th>NIP</th>
				        <th>Nama</th>
				        <th>Tempat Lahir</th>
				        <th>Tanggal Lahir</th>
				        <th>Tahun Masuk</th>
				        <th>Nama Instansi</th>
				        <th>Jabatan</th>
				    </tr>
				</thead>
				<tbody>
					<div th:each="pegawai : ${semuaPegawai}">
					    <tr>
					    	<td><p th:text="${pegawai.nip}"></p></td>
					        <td><p th:text="${pegawai.nama}"></p></td>
					        <td><p th:text="${pegawai.tempat_lahir}"></p></td>
					        <td><p th:text="${pegawai.tanggal_lahir}"></p></td>
					        <td><p th:text="${pegawai.tahun_masuk}"></p></td>
					        <td><p th:text="${pegawai.instansi.nama}"></p></td>
					        <td><ul th:each="jabatan,iterationStatus : *{pegawai.jabatan}">
								<li th:text="${jabatan.nama}"></li>
							</ul></td>
					    </tr>
				    </div>
				</tbody>
			</table>
		
			<footer th:replace="fragments/fragment :: footer"></footer>
		</div>
		
		<script th:inline="javascript">
			$(document).ready(function() {
			    $('#example').DataTable();
			} );
			
			$('#provinsi').change(
			     function() {
			         $.getJSON("/instansi/getFromProvinsi", {
			             provinsiId : $(this).val(),
			             ajax : 'true'
			         }, function(data) {
			             var html = '<option value="">Pilih Instansi</option>';
			             var len = data.length;
			             for ( var i = 0; i < len; i++) {
			                 html += '<option value="' + data[i].id + '">'
			                         + data[i].nama + '</option>';
			             }
			             html += '</option>';
			             $('#instansi').html(html);
			         });
			     });
		</script>
		<script th:replace="fragments/fragment :: script"></script>
	</body>
</html>