<tr th:each="jabatan,iterationStatus : *{jabatan_pegawai}">
										<td><p>Jabatan</p><td>
										<td>
											<select name="jabatan_pegawai" class="form-control">
												<option value="">Pilih Jabatan</option>
												<option th:each="jabatan : ${semuaJabatan}"
													th:field="*{jabatan[__${rowStat.index}__]}"
													th:value="${jabatan.id}"
													th:text="${jabatan.nama}"></option>
											</select>
											<button type="submit" name="removeRow"
												th:value="${rowStat.index}"
												th:style="${rowStat.count} == 1 ? 'display: none;' : ''">X
												</button></td>
										</td>
										<button type="submit" name="addRow">Tambah Jabatan Lainnya</button>
									</tr>