<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Update Pilot</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<br>
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<h2>Ubah Jabatan</h2>
						</div>
						<div class="card-body">
							<form th:action="@{/pegawai/ubah}" th:object="${pegawai}" method="POST">
							<input type="hidden" th:field="*{id}" />
							
							<table class="table">
								<tbody>
									<tr>
										<td><p>Nama</p></td>
										<td><input type="text" name="nama" th:value ="${pegawai.getNama()}" /></td>
									</tr>
									<tr>
										<td><p>Deskripsi</p></td>
										<td><input type="text" name="deskripsi" th:value ="${jabatan.getDeskripsi()}" /></td>
									</tr>
									<tr>
										<td><p>Gaji Pokok</p></td>
										<td><input type="number" name="gaji_pokok" th:value ="${jabatan.getGaji_pokok()}" /></td>
									</tr>
									<tr>
										<button type="submit">Submit</button>
									</tr>
								</tbody>
							</table>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>